
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.bind('barColor', () => ({
      ':class'() {
        return 'text-' + this.color;
      }
    }));

    // Visualization barchart bar
    Alpine.bind('Bar', () => ({
      'x-bind:style'() {
        return 'width: ' + this.pct + '%';
      },
      'x-text'() {
        return this.count;
      },
      ':class'() {
        return `text-right text-sm text-stone-100 pr-2`;
      },
    }));

    // A glyph showing the rank change via colored arrows
    Alpine.bind('RankGlyph', () => ({
      'x-html'() {
        if (this.rank < 0) {
          return '&uarr;';
        } else if (this.rank > 0) {
          return '&darr;';
        } else {
          return '&mdash;';
        }
      },
      ':class'() {
        if (this.rank < 0) {
          return 'text-lime-500';
        } else if (this.rank > 0) {
          return 'text-red-500';
        } else {
          return 'text-stone-500';
        }
      }
    }));

    // Text showing the rank change via absolute value
    Alpine.bind('RankText', () => ({
      'x-text'() {
        return Math.abs(this.rank);
      }
    }));
  });
</script>