<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/build.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {% if page.date %}
      <title>The Same 12 Songs - {{ page.date | date: "%Y-%m-%d" }}</title>
    {% else %}
      <title>The Same 12 Songs</title>
    {% endif %}

    <link rel="icon" type="image/png" href="{{ '/assets/favicon.png' | relative_url }}" />

    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="The Same 12 Songs - Exploring Christmas Music of 2023" />
    <meta property="og:description" content="How often is 'Winter Wonderland' played every day on Toronto's All Christmas radio station, CHFI. Find out!" />
    <meta name="description"        content="How often is 'Winter Wonderland' played every day on Toronto's All Christmas radio station, CHFI. Find out!">
  </head>
  <body class="leading-7 bg-stone-100">
    <script>
      {% include js/data-prep.js %}
      {% include js/filter-list.js %}
    </script>

    {{ content }}
  </body>
</html>