---
layout: default
---

<script>
  const pageData = {{ page.data | jsonify }};
  window.pageData = pageData;

  pageData.today.forEach((s, idx) => {
    s.simpleRank = idx + 1;
  });
  pageData.artist.forEach((s, idx) => {
    s.simpleRank = idx + 1;
  });

  pageData.today_version.forEach((song, idx) => {
    const todaySong = pageData.today.find(s => s.song_id === song.song_id);
    if (todaySong) {
      song.comparisonNumber = `${Math.round(song.plays / todaySong.plays * 100)}%`;
    } else {
      song.comparisonNumber = `New!`;
    }
    song.simpleRank = idx + 1;
  })
</script>

<main class="bg-stone-100">
<section class="bg-stone-900 text-stone-100 pt-12">
  <header class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-2xl sm:text-4xl font-bold">
      <i class="fa-solid fa-gifts text-jolly-700"></i>
      Christmas Songs of 2023
    </h1>
  </header>

  <section x-data="pageData" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <p class="mb-4">
      This holiday season, CHFI Radio brought to me...
    </p>
    <ul class="grid grid-cols-2 gap-4 text-center leading-5">
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-holly-500" x-text="summary.all.days"></h3>
        <p>days of joy</p>
        <small class="text-stone-400">Christmas music started playing on Monday, Nov 20 at 8:34:12 AM EST</small>
      </li>
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-jolly-500" x-text="summary.all.average_plays"></h3>
        <p>songs each day</p>
        <small class="text-stone-400">And at least as many ads</small>
      </li>
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-snow-400" x-text="summary.all.total_plays.toLocaleString()"></h3>
        <p>songs played</p>
        <small class="text-stone-400">That's a lot of joy to the world</small>
      </li>
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-holly-500" x-text="summary.all.version_count"></h3>
        <p>unique songs</p>
        <small class="text-stone-400">A unique song is a version of a song by a specific artist</small>
      </li>
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-jolly-500" x-text="summary.all.artist_count"></h3>
        <p>artists singing</p>
        <small class="text-stone-400">On an average day, about half of these artists get play time</small>
      </li>
      <li>
        <h3 class="font-black text-4xl sm:text-7xl mb-2 text-snow-400" x-text="summary.all.song_count"></h3>
        <p>different tunes</p>
        <small class="text-stone-400">Many artists cover the same song - this is a measure of unique melodies</small>
      </li>
    </ul>
  </section>

  <section class="max-w-prose mx-6 sm:mx-auto mt-16">
    <p class="text-center">
      Explore the data by day, starting with
      <a href="{{ site.baseurl }}{{site.posts.first.url}}" class="text-snow-300 hover:underline">
        {{ site.posts.first.date | date: "%A, %b %-d"}}
      </a>
    </p>
  </section>
</section>

{% include divider.html %}

<section class="mt-8 bg-stone-100 text-stone-900">

  <section x-data="{list: pageData.today, showBars: false}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Top Christmas Songs</h1>
    <p class="mb-6">
      Here are the songs with the most plays so far this year. Many songs have
      multiple versions by different artists. The most played artist is shown and where there are more
      artists with plays, we indicate this with <small>+2 more</small>.
    </p>
    {% include viz-top-songs.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.artist, showBars: false}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Top Artists</h1>
    <p class="mb-6">
      This Christmas season's top played artists are shown below along with the number of different songs
      they sang so far this year. <span class="text-jolly-700 text-lg font-bold" x-text="pageData.artist[0].artist"></span>, wow.
    </p>
    {% include viz-top-artists.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.today_version, showBars: false}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Top Unique Song Versions</h1>
    <p class="mb-6">
      The top songs tend to have versions from many different artists. Here are the top
      unique song versions of the season. The percentage given is the percent of the plays that this version makes
      up of all plays of that tune.
    </p>
    {% include viz-top-songs.html %}
  </section>


</section>
</main>
