---
layout: default
---

<script>
  const pageData = {{ page.data | jsonify }};

  pageData.today.forEach((s, idx) => {
    s.simpleRank = idx + 1;
  });
  pageData.artist.forEach((s, idx) => {
    s.simpleRank = idx + 1;
  });

  const rankChanges = pageData.today.map(song => ({
    playDelta: song.plays - song.avgCompPlays,
    ...song
  }));

  rankChanges.sort((a, b) => b.playDelta - a.playDelta);
  pageData.songWinners = rankChanges.slice(0, 5).filter(s => s.playDelta > 0);

  rankChanges.sort((a, b) => a.playDelta - b.playDelta);
  pageData.songLosers = rankChanges.slice(0, 5).filter(s => s.playDelta < 0);

  pageData.today_version.forEach((song, idx) => {
    const todaySong = pageData.today.find(s => s.song_id === song.song_id);
    if (todaySong) {
      song.comparisonNumber = `${Math.round(song.plays / todaySong.plays * 100)}%`;
    } else {
      song.comparisonNumber = `New!`;
    }
    song.simpleRank = idx + 1;
  })

  pageData.deep_cuts.forEach(song => {
    song.comparisonNumber = song.all_plays;
  })
</script>

<main class="">
  <header class="bg-stone-900 text-stone-100 pt-12">
    <div class=" max-w-prose mx-6 sm:mx-auto">
      <h1 class="text-3xl font-bold">
        <i class="fa-solid fa-gifts text-jolly-700"></i>
        Christmas Playlist for {{page.date | date: "%A, %b %-d"}}
      </h1>

      <nav class="grid grid-cols-3 w-100 mt-6">
        <div>
          {% if page.previous.url %}
          <a class="text-snow-300 hover:underline" href="{{page.previous.url | relative_url }}"><span class="big">&larr;</span><span class="words">Day Before</span></a>
          {% endif %}
        </div>
        <div class="text-center">
          <a class="text-snow-300 hover:underline" href="{{'/' | relative_url }}">Home</a>
        </div>
        <div>
          {% if page.next.url %}
          <a class="text-snow-300 hover:underline" href="{{page.next.url | relative_url }}"><span class="words">Day After</span><span class="big">&rarr;</span></a>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

  {% include divider.html %}

  <section x-data="pageData" class="max-w-prose mx-6 sm:mx-auto my-8">
    {% include summarize-day.html %}
  </section>

  <section x-data="{list: pageData.today, showBars: true}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">{{page.date | date: "%A"}}'s Top Christmas Songs</h1>
    <p class="mb-6">
      Here are the songs with the most plays on {{page.date | date: "%B %-d, %Y"}}. Many songs have
      multiple versions by different artists. The most played artist is shown and where there are more
      artists with plays, we indicate this with <small>+2 more</small>.
    </p>
    {% include viz-top-songs.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-candy-cane text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-candy-cane text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-candy-cane text-jolly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.songWinners}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-lg font-semibold mb-2">Biggest Winners</h1>
    <p class="mb-6">
      The following songs had more plays than you'd hear on a typical day.
      <span class="text-holly-600">Oh what joy...</span>
    </p>
    {% include viz-changes-songs.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-holly-berry text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-holly-berry text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-holly-berry text-holly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.songLosers}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-lg font-semibold mb-2">Biggest Losers</h1>
    <p class="mb-6">
      A little Christmas spirit is missing today for these songs that had fewer plays than you'd normally hear.
      <span class="text-jolly-600">If only in our dreams...</span>
    </p>
    {% include viz-changes-songs.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-sleigh text-jolly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.today_version, showBars: true}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Top Unique Song Versions</h1>
    <p class="mb-6">
      The top played songs of the day tend to have versions from many different artists. Here are the top
      unique song versions of the day. The percentage given is the percent of the plays that this version makes
      up of all plays of that song today.
    </p>
    {% include viz-top-songs.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-tree text-holly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.artist, showBars: true}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Top Artists</h1>
    <p class="mb-6">
      Today's top played artists are shown below along with the number of different songs
      they sang today.
    </p>
    {% include viz-top-artists.html %}
  </section>

  <div class="text-center my-4">
    <i class="fa-solid fa-gifts text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-gifts text-jolly-600 opacity-30 mx-4"></i>
    <i class="fa-solid fa-gifts text-jolly-600 opacity-30 mx-4"></i>
  </div>

  <section x-data="{list: pageData.deep_cuts, showBars: true}" class="max-w-prose mx-6 sm:mx-auto mb-8">
    <h1 class="text-xl font-black mb-2">Deep Cuts</h1>
    <p class="mb-6">
      Some Christmas songs are as rare as a perfect snowflake. The following songs were only
      played once today and are rarely heard at all. The number under the play count represents
      the total number of plays this song's had so far this year. A "1" here means
      today is the only time the song has been played! <span class="text-snow-600">Oh, what fun!</span>
    </p>
    {% include viz-top-songs.html %}
  </section>
</main>
